<script setup lang="ts">
import router from '@/router'
import { useTodosStore } from '@/stores/todos'
import { storeToRefs } from 'pinia'
import { ref } from 'vue'

const todosStore = useTodosStore()
const { isChanging } = storeToRefs(todosStore)
const { add, edit } = todosStore

// variables for inputs
const inputTitle = ref(isChanging.value.title === undefined ? '' : isChanging.value.title)
const textareaDescription = ref(isChanging.value.toDo === undefined ? '' : isChanging.value.toDo)
const statusOfToDo = ref(
  isChanging.value.status === undefined
    ? undefined
    : isChanging.value.status === 'pending'
      ? false
      : true
)

// functions for canceling, adding, editing
function cancel(): void {
  router.push('/')
  isChanging.value = { id: undefined, title: undefined, toDo: undefined, status: undefined }
}

function adding(): void {
  add(inputTitle.value, textareaDescription.value)
  router.push('/')
}

function editing(isEditingId: number): void {
  edit(
    isEditingId,
    inputTitle.value,
    textareaDescription.value,
    statusOfToDo.value ? 'done' : 'pending'
  )
  isChanging.value = { id: undefined, title: undefined, toDo: undefined, status: undefined }
  router.push('/')
}
</script>

<template>
  <div class="container change-container">
    <label for="titleToDo">Enter your title of todo</label>
    <input v-model="inputTitle" type="text" id="titleToDo" />
    <label for="todoDescription">What would you like to do?</label>
    <textarea v-model="textareaDescription" id="todoDescription" rows="10"></textarea>
    <div class="checkBox" v-if="isChanging.id">
      <input type="checkbox" id="chechbox" v-model="statusOfToDo" />
      <label for="checkbox">{{
        statusOfToDo ? 'This your todo is done' : 'This your todo is pending'
      }}</label>
    </div>
    <div class="btn-wrapper">
      <button class="cancel-btn" @click="cancel">Cancel</button>
      <button v-if="isChanging.id === undefined" class="add-btn" @click="adding">Add</button>
      <button v-else class="add-btn" @click="editing(isChanging.id)">Edit</button>
    </div>
  </div>
</template>

<style scoped>
.change-container {
  max-width: 900px;
  margin-top: 25px;
  background: rgb(212, 212, 212);
  padding: 15px 30px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
label {
  font-size: 21px;
  margin: 10px 0;
  font-weight: 600;
}
input,
textarea {
  border: none;
  border-radius: 8px;
}
input {
  width: 300px;
  padding: 5px 3px;
  font-weight: 600;
}
textarea {
  width: 100%;
  padding: 15px;
}
.btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 25px;
  gap: 15px;
}
.add-btn,
.cancel-btn {
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  padding: 5px 25px;
  background: rgb(6, 161, 58);
  border: none;
  border-radius: 5px;
}
.cancel-btn {
  background: rgb(134, 134, 134);
  color: #000;
}
.checkBox {
  margin-top: 15px;
  text-align: start;
}
.checkBox input {
  width: auto;
  margin: 5px;
}
</style>
