<script setup lang="ts">
import { storeToRefs } from 'pinia'
import { useTodosStore } from '../stores/todos'
import router from '@/router'

const todosStore = useTodosStore()

const { todos, isChanging } = storeToRefs(todosStore)
const { deleteTodo } = todosStore

// functions for navigating for ChangingPage and chaenging indicator of chaenging
function adding(): void {
  router.push('/change')
}
function editing(todo: { id: number; title: string; toDo: string; status: string }): void {
  router.push('/change')
  isChanging.value = todo
}
function alertDeleting(todo: { id: number; title: string; toDo: string; status: string }): void {
  isChanging.value = todo
}
</script>

<template>
  <div v-if="isChanging.id" class="deleteAlertWrapper">
    <div class="deleteAlertTheme"></div>
    <div class="deleteAlertContent">
      <b>Attention!</b>
      <p>Are you sure for deleting this todo?</p>
      <div>
        <button
          class="cancel"
          @click="
            () =>
              (isChanging = { id: undefined, title: undefined, toDo: undefined, status: undefined })
          "
        >
          Cancel
        </button>
        <button class="delete" @click="deleteTodo(isChanging.id)">Delete</button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="all-todos">
      <div class="all-todos-logo">
        <p class="todos-logo-text">TODO List</p>
      </div>
      <div class="all-todos-list">
        <div class="todos-list-titles">
          <p>Title</p>
          <p>To Do</p>
          <p>Status</p>
          <p>Edit</p>
          <p>Delete</p>
        </div>
        <ul>
          <b class="haveNoTodos" v-if="todos.length === 0">You haven't any todos</b>
          <li v-else v-for="todo in todos" :key="todo.id">
            <b>{{ todo.title }}</b>
            <p class="todoDescription">
              {{ todo.toDo.length > 15 ? `${todo.toDo.substring(0, 15)}...` : todo.toDo }}
            </p>
            <p>{{ todo.status }}</p>
            <button class="edit-btn" @click="editing(todo)">Edit</button>
            <button class="delete-btn" @click="alertDeleting(todo)">Delete</button>
          </li>
        </ul>
        <div class="addingButtonWrapper">
          <button class="add-btn" @click="adding">Add</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style scoped>
.all-todos {
  width: 100%;
  margin-top: 30px;
  border-radius: 25px;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.75);
}
.deleteAlertWrapper,
.deleteAlertTheme {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}
.deleteAlertTheme {
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  opacity: 1;
}
.deleteAlertContent {
  position: absolute;
  top: 22%;
  left: 30%;
  width: 45%;
  height: 400px;
  background: #fff;
  border-radius: 25px;
  text-align: center;
}
.deleteAlertContent b {
  display: block;
  font-size: 45px;
  color: red;
  margin-top: 30px;
}
.deleteAlertContent p {
  font-size: 25px;
  margin-top: 15px;
}
.deleteAlertContent div {
  width: 100%;
  margin-top: 15px;
}
.deleteAlertContent div button {
  width: 35%;
  margin: 10px;
  padding: 5px 15px;
  font-size: 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
}
.deleteAlertContent div .delete {
  background: red;
  color: #fff;
}
.all-todos-logo,
.all-todos-list {
  width: 100%;
}
.all-todos-logo {
  background: rgb(188, 25, 188);
  padding: 25px;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  border-radius: 25px 25px 0 0;
  color: #fff;
}
.all-todos-list {
  padding: 25px 30px;
  background: rgb(238, 252, 255);
  border-radius: 0 0 25px 25px;
}
.todos-list-titles,
li {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: rgb(235, 235, 235);
  padding: 10px 0;
  font-size: 20px;
  color: rgb(108, 108, 108);
}
.todos-list-titles {
  border-radius: 25px 25px 0 0;
}
ul {
  border-radius: 0 0 25px 25px;
  background: #fff;
  padding-bottom: 25px;
}
li {
  background: transparent;
  list-style: none;
  border-bottom: 1px solid rgb(190, 190, 190);
}
li b {
  color: #000;
}
.edit-btn,
.delete-btn,
.add-btn {
  font-size: 20px;
  padding: 5px 15px;
  cursor: pointer;
  color: #fff;
  background: linear-gradient(145deg, rgba(64, 253, 190, 1) 21%, rgba(14, 188, 177, 1) 100%);
  border: none;
  border-radius: 5px;
}
.delete-btn {
  background: red;
}
.add-btn {
  padding: 5px 25px;
  background: rgb(6, 161, 58);
}
.todoDescription {
  width: 125px;
}
.addingButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: end;
  margin-top: 25px;
}
.haveNoTodos {
  margin: 0 18px;
  font-size: 20px;
}
</style>
